@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Customize width */
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #00162b; /* Customize track color */
}

/* Handle (the scrolling part) */
::-webkit-scrollbar-thumb {
  background-color: #75fede; /* Customize the handle color */
  border-radius: 10px; /* Make the handle rounded */
  border: 3px solid transparent; /* Add padding inside the handle */
}
